<!--
 * @Descripttion: 
 * @Author: xuewei
 * @version: 
 * @Date: 2021-07-26 21:24:42
 * @LastEditors: xuewei
 * @LastEditTime: 2021-07-26 21:39:26
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vueDemo</title>

    <script src="../js/vue.js"></script>
</head>
<body>
    <!--准备好一个容器-->
    <div id="root">
        姓:<input type="text" v-model="firstName"/><br>
        名:<input type="text" v-model="lastName"/><br>
        姓名: <span>{{fullNme()}}</span>
    </div>


    <script>
        Vue.config.productionTip = false // 设置为 false 以阻止 vue 在启动时生成生产提示。

        new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三'
            },
            methods:{
                fullNme(){
                    console.log('1111')
                    return this.firstName + '_' + this.lastName
                }
            }
        })
    </script>
</body>
</html>